.item {
  display: flex;
  margin: 20px;
  font-family: serif;
  font-size: 20px;
  text-align: left;
  justify-content: center;
}
.img {
  border-radius: 70px;
  width: 100px;
  height: 100px;
}
.nav {
  text-decoration: none;
  border: 3px solid coral;
  padding: 0.5em;
  color: black;
  width: 100px;
  text-align: center;
}
.friend {
  padding: 0.3em 1em;
  width: 15%;
}
.name {
  font-size: 24px;
}
.city {
  padding: 10px 0;
}
.align {
  display: flex;
  align-items: center;
  margin-left: 3em;
}
@media (max-width: 577px) {
  .img {
    border-radius: 50px;
    width: 80px;
    height: 80px;
  }
  .item {
    margin: 1em 0em;
    font-size: 20px;
    justify-content: space-evenly;
  }
  .nav {
    padding: 0.5em;
    width: 80px;
    font-size: 16px;
  }
  .name {
    font-size: 20px;
  }
  .city {
    padding: 5px 0;
  }
  .align {
    align-items: center;
    margin-left: 1em;
  }
}
@media (max-width: 459px) {
    .item {
      margin: 3px;
      font-size: 16px;
      justify-content: space-evenly;
    }
    .nav {
      padding: 0.4em;
    }
    .friend {
      padding: 0.2em;
      width: 25%;
    }
  }